<!doctype html>
<html>
<head>
    <title>El Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Order Here</h1>
        <img src="https://ujg1i3ze1133y9zav35eixy117m-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/coffee-shop-owner_coffee-shop-equipment-list-769x513.jpg" alt="Coffee Logo">

        <section class="customerName">
          <input type="text" name="" placeholder="customers name">
        </section>

        <section class = "choiceContainer">
            <h4>Menu Options/Opciones del Menu</h4>
          <div class="cafeOption1">
            <p> Black Coffee<p>
          </div>
          <div class="cafeOption2">
            <p> Regular Coffee w Milk</p>
          </div>
          <div class="cafeOption3">
            <p> Iced Caramel Coffee</p>
          </div>
          <div class="cafeOption4">
            <p> Regular Iced Coffe</p>
          </div>
        </section>
          <h4>Size/Tamano</h4>
        <section class = "choiceSize">
          <div class="sizeOption1">
            <p> x-small<p>
          </div>
          <div class="sizeOption2">
            <p> Small</p>
          </div>
          <div class="sizeOption3">
            <p> Medium</p>
          </div>
          <div class="sizeOption4">
            <p> Large</p>
          </div>
        </section>

        <section>
          <div class="submitButton">
            <p id ="submit">Order</p>
          </div>
        </section>
    </div>
    <p>Refresh Page if an error occurs</p>
    <div class="refreshOption">
      <p><a href="/cashier">Refresh</p></a>
    </div>
    <p>Back to Login<a href="/">Login</a>.</p>
    <p>Or go <a href="/userchoice">back</a>.</p>


</div>
<script src="main.js"></script>
</body>
</html>
