<!doctype html>
<html>
<head>
    <title>Coffee Esspresso</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome Coffee Esspress CHoo CHoo!</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ZYO0BuhDDbfL18K7Vovn2VnG_XGlYmAC-zQeQlE2AP9EVTVOpg" alt="Coffee Logo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
