<!doctype html>
<html>
<head>
    <title>El Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center2">
        <h1>Welcome Coffee Esspress Employee!</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ZYO0BuhDDbfL18K7Vovn2VnG_XGlYmAC-zQeQlE2AP9EVTVOpg" alt="Coffee Logo">

        <p>Who are you loging in as ?</p>

        <a href="/barista" class="btn btn-default"><span class="fa fa-user"></span>Barista</a>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Cashier</a>

    </div>

</div>
</body>
</html>
